<!--Section -->
<div class="section section-pad bg-grey">
  <div class="container">
    <div class="row row-vm">

      <!-- TradingView Widget BEGIN -->
      <div class="col-md-6  ">
          <div style="width:100%; max-width:100% !important;" class="btcwdgt-chart"></div>
      </div>
      <!-- TradingVie,w Widget END -->

      <div class="col-md-5 col-md-offset-1 ">
    <div class="text-block">
      <h2>No Experience? <br/>No worries</h2>
      <p>Looking to get started in the world of cryptocurrency trading?</p>
      <p>Get profits just by letting our systems trade for you with diverse options. </p>
      <%= link_to "Get Started", new_user_registration_path, class: "btn btn-alt" %>
    </div>
      </div>
    </div>
  </div>
  </div>

<!--End Section -->
