<!-- Section -->
<div class="section section-pad-sm cta-small light">
<div class="cta-block">
<div class="container">
  <div class="row mobile-center">
    <div class="col-md-12">
      <div class="cta-sameline">
        <h3>Open an account for free and start trading Crypto now!</h3>
        <%= link_to "Get Started", new_user_registration_path, class: "btn btn-outline btn-alt btn-md" %>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!-- End Section -->
