<!-- Features Box -->
<div class="section section-pad">
  <div class="container">
    <div class="row text-center">
  <div class="col-md-4 res-m-bttm-lg">
    <div class="box-alt box-dot box-direction box-direction-one">
      <div class="image-icon">
        <%= image_tag "box-icon-i.png" %>
      </div>
      <h5>Open a Wallet</h5>
      <p>Ypu are free to use any wallet from any wallet provider either blockchain or copay.</p>
    </div>
  </div>
  <div class="col-md-4 res-m-bttm-lg">
    <div class="box-alt box-dot box-direction box-direction-two">
      <div class="image-icon">
        <%= image_tag "box-icon-j.png" %>
      </div>
      <h5>Buy Bitcoins</h5>
      <p>Once your wallet is created you can buy, sell or store bitcoins .</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="box-alt box-dot">
      <div class="image-icon">
        <%= image_tag "box-icon-k.png" %>
      </div>
      <h5>Send/Receive with Wallet</h5>
      <p>Recieve your earning to your bitcoin wallet all you have to do is make a withdrawal request</p>
    </div>
  </div>
</div>
  </div>
</div><!--End Features Box -->
