

<!-- ABOUT BUSINESS -->
<section class="trd-about-business-section trd-section">
    <div class="container">
        <div class="row">
            <!-- About Business -->
            <div class="col-md-7 col-sm-6 col-xs-12 trd-about-business-wrapper">
                <div class="trd-chart-wrapper">
                    <canvas id="chart1" height="235"></canvas>
                </div>

                <div class="trd-about-details">
                    <h1 class="trd-section-tittle">About <span class="trd-highlight-text">Us</span></h1>

                    <p>                        We are one of the largest communities of active traders and investors. Our vision for Expresstradeinvestment is to be the #1 platform for ordinary people consistently seek investment opportunities and take the bold step to becoming financially free
</p>

<%= link_to "Details", page_path('about'), class: "trd-details-link" %>

                </div>
            </div>
            <!-- End -->

            <!-- Accordion -->
            <div class="col-md-5 col-sm-6 col-xs-12 trd-accordion-wrapper">
                <div class="panel-group" id="trd-accordion" role="tablist" aria-multiselectable="true">

                    <!-- Accordion item -->
                    <div class="panel panel-default trd-accordion-items">
                        <!-- header -->
                        <div class="trd-accordion-item-heading panel-heading" role="tab" id="trd-accordion-one">
                            <a role="button" data-toggle="collapse" data-parent="#trd-accordion" href="#trd-accordion-one-body" aria-expanded="true" aria-controls="trd-accordion-one-body">
                                <span class="trd-expandable-icon trd-expand">
                                    <i class="fa fa-minus"></i>
                                </span>
                                <h3>Market resarch</h3>
                            </a>
                        </div>
                        <!-- END -->

                        <!-- Details -->
                        <div id="trd-accordion-one-body" class="panel-collapse collapse in trd-accordion-body" role="tabpanel" aria-labelledby="trd-accordion-one">
                            <div class="panel-body">
                                <p>We analyse the daily data  on the stock market to ease your pain</p>
                            </div>
                        </div>
                        <!-- END -->
                    </div>
                    <!-- End -->

                    <!-- Accordion item -->
                    <div class="panel panel-default trd-accordion-items">
                        <!-- header -->
                        <div class="trd-accordion-item-heading panel-heading" role="tab" id="trd-accordion-two">
                            <a role="button" data-toggle="collapse" data-parent="#trd-accordion" href="#trd-accordion-two-body" aria-expanded="true" aria-controls="trd-accordion-two-body">
                                <span class="trd-expandable-icon trd-collapsed">
                                    <i class="fa fa-plus"></i>
                                </span>
                                <h3>Investment planning</h3>
                            </a>
                        </div>
                        <!-- END -->

                        <!-- Details -->
                        <div id="trd-accordion-two-body" class="panel-collapse collapse trd-accordion-body" role="tabpanel" aria-labelledby="trd-accordion-two">
                            <div class="panel-body">
                                <p>Your capital is safe with us, we protect to from improtu market spurs making your investment safe and secured</p>
                            </div>
                        </div>
                        <!-- END -->
                    </div>
                    <!-- End -->

                    <!-- Accordion item -->
                    <div class="panel panel-default trd-accordion-items">
                        <!-- header -->
                        <div class="trd-accordion-item-heading panel-heading" role="tab" id="trd-accordion-three">
                            <a role="button" data-toggle="collapse" data-parent="#trd-accordion" href="#trd-accordion-three-body" aria-expanded="true" aria-controls="trd-accordion-three-body">
                                <span class="trd-expandable-icon trd-collapsed">
                                    <i class="fa fa-plus"></i>
                                </span>
                                <h3>Business growth</h3>
                            </a>
                        </div>
                        <!-- END -->

                        <!-- Details -->
                        <div id="trd-accordion-three-body" class="panel-collapse collapse trd-accordion-body" role="tabpanel" aria-labelledby="trd-accordion-three">
                            <div class="panel-body">
                                <p>We grow your buisness sttrategically by making easy access to  your profits</p>
                            </div>
                        </div>
                        <!-- END -->
                    </div>
                    <!-- End -->



                </div>
            </div>
            <!-- End -->
        </div>
    </div>
</section>
<!-- ABOUT BUSINESS END -->
