<!--Section -->
<div class="section section-pad">
 <div class="container">
   <div class="section-head">
 <div class="row text-center">
   <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
     <h2 class="heading-section">Why choose Us</h2>
     <p>We have created an easy to use platform suitable for your auoto trading needs with top services fashioned for your success</p>
   </div>
 </div>
   </div>
   <div class="gaps size-3x"></div>
<div class="row text-center row-vm">
 <div class="col-md-4 res-m-bttm-lg">
   <div class="box-alt">
     <span class="pe pe-7s-server"></span>
     <h4>Payment Options</h4>
     <p>We provide you with broad withdrawal options for your funds.</p>
   </div>
   <div class="box-alt">
     <span class="pe pe-7s-note"></span>
     <h4>Legal Compliance</h4>
     <p>We are a Goverment approved and liscensed Co-operation.</p>
   </div>
   <div class="box-alt">
     <span class="pe pe-7s-airplay"></span>
     <h4>Cross-Platform Trading</h4>
     <p>Trades are made with your favourite exchanges in mind. Services tailored for you</p>
   </div>
 </div>
 <div class="col-md-4 res-m-bttm-lg">
   <div class="box-alt">
     <span class="pe pe-7s-lock"></span>
     <h4>Strong Security</h4>
     <p>Your operations are secured with suitable comodo ssl force and cyber security tools .</p>
   </div>
   <div class="box-alt img">
     <%= image_tag "square-md-a.png" %>
   </div>
   <div class="box-alt">
     <span class="pe pe-7s-cash"></span>
     <h4>Competitive Commissions</h4>
     <p>Enjoy low commission rate for more profits.</p>
   </div>
 </div>
 <div class="col-md-4">
   <div class="box-alt">
     <span class="pe pe-7s-global"></span>
     <h4>World Coverage</h4>
     <p>Our services are meant for all. Thereby our services extends to all major corners of the globe</p>
   </div>
   <div class="box-alt">
     <span class="pe pe-7s-graph"></span>
     <h4>Advanced Reporting</h4>
     <p>Your systems are equipped with user operations monitoring bots for greater response to your needs and questions.</p>
   </div>
   <div class="box-alt">
     <span class="pe pe-7s-graph1"></span>
     <h4>Margin Trading</h4>
     <p>You can choose between trading patterns just by selecting your preferred trading pattern we also provide relevant strategies.</p>
   </div>
 </div>
</div>
 </div>
</div>
<!--End Section -->
