<div class="content">
    <div class="container-fluid">
<div class="col-md-8 col-md-offset-2">
    <div class="card">
        <div class="header">
            <h4 class="title">Start By Making A Deposit</h4>
        </div>
        <div class="content">
<%= render 'form', deposit: @deposit %>

</div>
</div>
</div>
</div>
</div>
